go 1.21.5

use (
	./beautiful-face
	./binary-strings
	./box-of-chocolates
	./cafe-cake
	./cars-the-winning-mystery
	./farzad-filmbin
	./fencing
	./four-numbers
	./inexperienced-calculator-user
	./infinite-tally
	./legendary-twins-and-necklace-shopping
	./mario-and-online-shop
	./mountaineering-information
	./never-be-proud
	./print-the-number
	./screaming
	./tiling
)
