go 1.21.5

use (
	./beautiful-face
	./binary-strings
	./cafe-cake
	./farzad-filmbin
	./four-numbers
	./legendary-twins-and-necklace-shopping
	./mountaineering-information
	./print-the-number
	./screaming
	./tiling
)
